{{!-- Create Event <li> --}}


    {{!-- Upcoming Events --}}

<li>
    {{event_name}} <span>{{}}</span>
    <button class="li-btn-delete" data-id="{{id}}">delete</button>
    <button class="li-btn" type="button" data-id="{{id}}" data-toggle="collapse" data-target="#eventInfo-upcoming"
        aria-expanded="false" aria-controls="eventInfo-upcoming">view</button>
</li>
<div class="collapse" id="eventInfo-upcoming">
    <div class="card card-body">
        <p>{{}}</p>
        <ul>
            <li>Theme:{{}}</li>
            <li>Time: {{}}</li>
            <li>Location: {{}}</li>
        </ul>
    </div>
</div>