/*-----------------------------*\

      Rough styling just for 
        a progessive visual 

\*-----------------------------*/
html,
body {
  background: lightgrey;
  height: 100vh;
  background-image: url(bg.jpeg);
}

/** Removing base link styling */

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

/** Page Styling */

/*? Nav Style */
.navbar {
  background-color: white;
  box-shadow: 0px 1px 5px;
}

.navbar a {
  font-size: 18px;
  color: cornflowerblue;
}

.navbar a:hover {
  color: red;
}

/*? Main Content Styles */
.holder {
  margin: 0 20px;
  padding: 5px;
}

.user {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.row {
  margin-top: 20px;
}

.col-style {
  margin-top: 10px;
}

/*? Card Styles */

.card-title {
  text-align: center;
}

#createEvent,
#upcoming,
#allEvents {
  box-shadow: 3px 3px 6px;
}

#createEvent h5,
#upcoming h5,
#allEvents h5 {
  font-size: 30px;
}

#upcoming li,
#createEvent li,
#allEvents li {
  list-style: none;
  font-size: 16px;
}

/*? Button Styling */

.create-btn {
  background: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  display: block;
}

.li-btn {
  background-color: lightseagreen;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  float: right;
}

.li-btn-delete {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  float: right;
}

.modal-submit-btn {
  background: lightseagreen;
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
}

.modal-close-btn {
  background: rgb(95, 95, 95);
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
}

.li-btn:hover,
.li-btn-delete:hover,
.modal-submit-btn:hover,
.modal-close-btn:hover {
  opacity: 0.8;
}

/** Extra Styling */

/*? Modal Styling */

/*--------------------------------*\
         Landing Page Style
\*--------------------------------*/
.party-form {
  background-image: url("pn2.png");
}

/* .formform {
  background-image: url("bg.jpeg");
} */
/* hero img  */
/* body,
html {
  height: 100%;
} */

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("bg.jpeg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.form-group {
  color: black;
  padding: 1em;
}

.create-btn
{
  background-color: black;
}