/*-----------------------------*\

      Rough styling just for 
        a progessive visual 

\*-----------------------------*/

body {
  background: lightgrey;
  height: 100vh;
}

/** Removing base link styling */

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

/** Page Styling */

/*? Nav Style */
.navbar {
  background-color: white;
  box-shadow: 0px 1px 5px;
}

.navbar a {
  font-size: 18px;
  color: cornflowerblue;
}

.navbar a:hover {
  color: red;
}

/*? Main Content Styles */
.holder {
  margin: 0 20px;
  padding: 5px;
}

.user {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.row {
  margin-top: 20px;
}

.col-style {
  margin-top: 10px;
}

/*? Card Styles */

.card-title {
  text-align: center;
}

#createEvent,
#upcoming,
#allEvents {
  box-shadow: 3px 3px 6px;
}

#createEvent h5,
#upcoming h5,
#allEvents h5 {
  font-size: 30px;
}

#upcoming li,
#createEvent li {
  list-style: none;
}

.li-btn {
  background-color: lightseagreen;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  float: right;
}

.create-btn {
  background: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  display: block;
}

/** Extra Styling */

/*? Modal Styling */
